<h1>Identification</h1>

<%= form_for(@user) do |f| %>

<p>
  <%= f.label :email %>
</p>
  <%= f.text_field :email %>


<p>
  <%= f.label :password %>
</p>
  <%= f.password_field :password %>



<p>
  <%= f.label :password_confirmation, "Confirmation" %>
</p>
  <%= f.password_field :password_confirmation %>


</br></br>

  <%= f.submit "Log In" %>

<% end %>


<p>
  Déjà inscrit? Connectez-vous <%= link_to("ici", login_path ) %>
</p>
